body {
  margin: 0; }

.loading-indicator {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000; }
  .loading-indicator * {
    position: absolute;
    top: 50%; }
